<div class="container d-flex justify-content-center align-items-center min-vh-100">
  <div class="card shadow-lg p-4 rounded-4" style="max-width: 480px; width: 100%;">
    <div class="card db-super">
      <h2 class="mb-4 text-center">Dragon Ball Super - Personajes</h2>
      <div class="row justify-content-center">
        <div class="col-12 col-sm-6 mb-4">
          <div class="card shadow-sm p-3">
            <h3 class="mb-3">Agregar: {{ name() }}</h3>
            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                placeholder="Nombre"
                [value]="name()"
                (change)="name.set(txtName.value)"
                #txtName
              />
            </div>
            <div class="mb-3">
              <h3>Poder: {{ power() }}</h3>
              <input
                type="number"
                class="form-control"
                placeholder="Poder"
                [value]="power()"
                (change)="power.set(txtPower.valueAsNumber)"
                #txtPower
              />
            </div>
            <button class="btn btn-primary w-100" (click)="addCharacter()">Agregar</button>
          </div>
        </div>

        <div class="col-12 col-sm-6">
          <h5>Listado:</h5>
          <!-- Aquí insertamos el componente hijo para mostrar la lista -->
          <app-character-list [characters]="characters"></app-character-list>
        </div>
      </div>
    </div>
  </div>
</div>
