.db-classic h2, .db-super h2 {
  color: var(--color-transformation-hair);
  text-shadow: 0 0 10px var(--color-transformation-glow);
}

.db-classic .character-power {
  color: var(--color-transformation-hair);
  text-shadow: 0 0 8px var(--color-transformation-glow);
}

.db-super .character-power {
  color: var(--color-transformation-hair);
  text-shadow: 0 0 12px var(--color-transformation-glow);
}
