<div class="hero-container bg-gradient p-4 text-light rounded shadow">
  <h1 class="display-5 mb-4">{{ name() }}</h1>

  <dl class="row ps-2">
    <dt class="col-6 fw-bold">Nombre:</dt>
    <dd class="col-6">{{ name() }}</dd>

    <dt class="col-6 fw-bold">Edad:</dt>
    <dd class="col-6">{{ age() }}</dd>

    <!-- <dt class="col-6 fw-bold">Método:</dt>
    <dd class="col-6">{{ getHeroDescription() }}</dd> -->
    
    <dt class="col-6 fw-bold">Método:</dt>
    <dd class="col-6">{{ heroDescrription() }}</dd>

    <dt class="col-6 fw-bold">Capitalizado:</dt>
    <dd class="col-6">{{ name().toUpperCase() }}</dd>
  </dl>

  <div class="mt-4 d-flex gap-2 flex-wrap">
    <button (click)="changeHero()" class="btn btn-primary">
      Cambiar nombre
    </button>
    <button (click)="changeAge()" class="btn btn-success">
      Cambiar edad
    </button>
    <button (click)="resetForm()" class="btn btn-outline-info">
      Reset
    </button>
  </div>
</div>
